.me {
    margin: 0 !important;
    text-align: center !important;
}

.me li {
    list-style-type: none;
    text-align: left;
}

.me li a {
    margin-left: 15px;
}

img.no-border {
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

p.left {
    text-align: left !important;
}

.slides h2 {
    margin-bottom: 6%;
}

.title {
    margin-top: 5% !important;
    margin-bottom: 4% !important;
    font-size: 280% !important;
}

.subtitle {
    font-size: 90% !important;
}

.sponsors {
    margin: 10% auto !important;
}

.sponsors img {
    margin: 0 1% 0 1% !important;
}

.lavillenie {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}

.michelin-hq {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
}
